$primary: #892cdc;
$primaryVariant: #52057b;
$secondary: #f1d4d4;
$secondaryVariant: #c060a1;
$background: #171717;
$surface: #171717;
$error: #ff4301;
$onPrimary: #dbdbdb;
$onSecondary: #202020;
$onBackground: #dbdbdb;
$onSurface: #dbdbdb;
$onError: #dbdbdb;
